body{
  background-color: rgb(12, 31, 204);
  font-family: 'Yatra One', cursive;
  cursor: url('rainbow.cur'), default;
}

.menu{
  width:100%;
  height: 100px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
}

.column-1{
  width: 50%;
  height: 100px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column-2{
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;

}
.column-2 a{
  text-decoration: none;
  font-size: 30px;
  color: yellow;
}


.graphics{
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

.graphics img{
  display:block;
  margin-left:auto;
  margin-right: auto;
}

.image{
/* width: 50%; */
height:60%;
position:fixed;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

.lightning{
  position:fixed;
  top:50%;
  left:40%;
   z-index: -1;
  transform: translate(-50%, -50%);
  height:25%;
}


.image:hover + .lightning{
  animation: flash 1.2s infinite linear;
}



@keyframes flash {
  0%{transform: translate(-50%, -50%);}
  100%{transform: translate(-50%, 11vh);}
}
