body {
  height: 300vh;
  background: linear-gradient(180deg, #fdfb54 0%, #aaa4ff 45%, #5634f2 90%);
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flip-box-inner {
  width: 100px;
  height: 100%;
  position: relative;
  top: 20px;
  left: 30px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front {
  background-color: #5634f2;
  /* color: black; */
}

.flip-box-back {
  background-color: #5634f2;
  color: #fdfb54;
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-box-noon {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 100px;
  left: 200px;

}

.flip-box-inner-noon {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 200px;
  left: 100px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-noon:hover .flip-box-inner-noon {
  transform: rotateX(180deg);
}

.flip-box-front-noon, .flip-box-back-noon {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front-noon {
  background-color: #5634f2;
  /* color: black; */
}

.flip-box-back-noon {
  background-color: #5634f2;
  color: #fdfb54;
  transform: rotateX(180deg);
}


.flip-box-night {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  top: 300px;
  left: 500px;

}

.flip-box-inner-night {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 100px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-night:hover .flip-box-inner-night {
  transform: rotateX(180deg);
}

.flip-box-front-night, .flip-box-back-night {
  position: absolute;
  width: 100%;
  height: 100px;
  backface-visibility: hidden;
}

.flip-box-front-night {
  background-color: #5634f2;
  /* color: black; */
}

.flip-box-back-night {
  background-color: #5634f2;
  color: #fdfb54;
  transform: rotateX(180deg);
}
